body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    position: fixed;
    width: 100%;
    height: 100px; /* Adjusted height to accommodate the larger logo */
    background-color: #2e8692;
    color: white;
    z-index: 1000;
}

#logo img {
    height: 90px; /* Adjusted height for the logo */
}

#title {
    flex-grow: 1;
    text-align: center;
}

#title h1 {
    margin: 0;
    font-size: 24px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

#map {
    height: calc(100% - 150px); /* Adjust height to account for taller top bar and bottom bar */
    width: 100%;
    position: absolute;
    top: 100px; /* Adjusted top position to start below the taller header */
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #2e8692;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.bottom-button {
    background-color: white;
    border: 2px solid #2e8692;
    color: #2e8692;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.popup-message {
    display: none;
    position: fixed;
    bottom: 60px; /* Adjusted position for the taller bottom bar */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1001;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1001;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 300px; /* Limit the width of the popups */
    text-align: center;
}

.popup-message p, .form-popup h2, .form-popup label {
    margin: 5px 0; /* Reduced margin for tighter spacing */
    font-size: 16px;
}

.form-popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-popup input[type="radio"], .form-popup select, .form-popup input[type="file"] {
    margin: 5px 0;
}

.form-popup .form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.form-popup button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2e8692;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-popup button:active {
    background-color: #1e5c6b;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.close-form {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #999;
}

.close-form:hover {
    color: #666;
}
